<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>4esport Ranking</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/index.css" type="text/css">
        <script type="text/javascript" src="https://github.com/Robebou/EfreiElo/blob/main/app.js"></script>
        
    </head>
    <body>
        <header class="main_header">
            
            <span class="container_header">
                
                <nav class="main-nav">
                    <ul class="main-nav-list">
                        <li>
                            <a href="#">Classement par Poste</a>
                        </li>
                        <li>
                            <a href="/404">Graphique</a>
                        </li>
                        <li>
                            <a href="/register">Se Connecter</a>
                        </li>
                        <li>
                            <a href="/404">Pari eSportif</a>
                        </li>
                    </ul>
                </nav>
            </span>
        </header>
        <span class="logo"><img id="logo_image" src="https://github.com/Robebou/EfreiElo/blob/main/ressource/image/4eSportHD.gif?raw=true" alt="4eSLogo"/></span>
            <div id="Container_Tab"> 
                <table class = "Tab_Joueur">
                    <thead>
                        <tr>
                            <th> Icone </th>
                            <th> Nom d'invocateur </th>
                            <th> Level </th>
                            <th> Classement </th>
                            <th> Winrate </th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th><img src="https://static.wikia.nocookie.net/leagueoflegends/images/5/5f/Season_2019_-_Challenger_1.png"/></th>
                            <th><img src="https://static.wikia.nocookie.net/leagueoflegends/images/7/76/Season_2019_-_Grandmaster_1.png"/></th>
                            <th><img src="https://static.wikia.nocookie.net/leagueoflegends/images/1/11/Season_2019_-_Master_1.png"/></th>
                            <th><img src="https://static.wikia.nocookie.net/leagueoflegends/images/9/91/Season_2019_-_Diamond_1.png"/></th>
                            <th><img src="https://i.pinimg.com/originals/d7/47/1e/d7471e2ef48175986e9b75b566f61408.png"/></th>
                        </tr>
                    </tfoot>
                    <tbody>
                    <% Pair=true %>
                    <% info_players.forEach(info_players => { %>
                        <tr class="<%=Pair%>">
                            <td> <img id="icon_summoner" src ="<%= info_players.icone%>"> </td>
                            <td><a  href="https://euw.op.gg/summoner/userName=<%= info_players.nom_invocateur%>" target="_blank"><%= info_players.nom_invocateur%> </a> </td>
                            <td> <%= info_players.lvl%> </td>
                            <td> <%= info_players.tier %> 
                                <% if (info_players.tier != "MASTER" && info_players.tier != "GRANDMASTER" && info_players.tier != "CHALLENGER") { %>
                                    <%= info_players.rank%> 
                                <% } %>
                                
                            </td>
                            <td> <%= info_players.winrate%></td>
                        </tr>
                    <% Pair = !Pair;%>
                    <% }); %>   
                    </tbody>
                </table>


                    <input type = "text" id ="summoner" name = "summoner" placeholder="Nom d'invocateur">
                    <button onclick="insert_database_player_info()">Ajouter</button>
                    
            </div>
        <footer>
          
                
        </footer>

    </body>
</html>